html {
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
}

.container {
    padding: 0 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
    background-color: #141024;
    padding-bottom: 100px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__list-link {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    transition: 0.4s;
}

.header__list-link:hover {
    color: #D52027;
}

.header__list-item {
    transition: 0.4s;
}

.header__list-item:hover {
    transform: translateY(-7%);
}

.logo {
    margin-left: 100px;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.header__list-tel {
    font-weight: 500;
    color: #ffffff;
    font-size: 30px;
    margin-right: 100px;
}

/* section main */

main {
    margin-bottom: 120px;
}

.section__main {
    background-color: #141024;
}

.main__row img {
    width: 780px;
}

.main__row {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main__text {
    color: #ffffff;
}

.main__title {
    font-size: 70px;
    font-weight: 700;
    padding-bottom: 20px;
    width: 530px;
}

.main__text-item {
    padding-bottom: 50px;
    font-size: 20px;
}

.main__text-button {
    background-color: #D52027;
    padding: 25px 54px;
    border-radius: 10px;
    transition: 0.3s;
}

.main__text-button:hover {
    opacity: 0.6;
}

.main__text-button:active {
    transform: translateY(-5%);
}

.main__text-button a {
    font-size: 18px;
    color: #ffffff;
}


/*section about */

.section__about {
    margin-bottom: 120px;
}

.about__txt {
    max-width: 891px;
    font-size: 30px;
    color: #141024;
    padding-bottom: 60px;
}

.about__row {
    display: flex;
    gap: 40px;
}

.about__row-item {
    transition: 0.4s;
    cursor: pointer;
}

.about__row-item:hover {
    transform: translateY(5%);
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px 15px;
}

.about__row-title {
    font-size: 70px;
    color: #D52027;
    font-weight: 700;
}

.about__row-text {
    font-size: 18px;
    color: #141024;
    max-width: 260px;
}


/* section info */

.section__info {
    background-color: #F9F9F9;
    margin-bottom: 120px;
    padding: 100px 0 100px 0;
}

.info__title {
    padding-bottom: 60px;
    font-size: 50px;
    font-weight: 700;
    color: #141024;
}

.info__row {
    display: flex;
    gap: 40px;
}

.info__row-title {
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #141024;
}

.info__row-title img {
    cursor: pointer;
    transition: 0.4s;
}

.info__row-title img:hover {
    transform: translateY(-17%);
}

.info__row-txt {
    font-size: 18px;
    color: #141024;
    max-width: 360px;
}

/* section traners */

.traners__title {
    font-weight: 700;
    font-size: 24px;
    color: #141024;
    margin-bottom: 60px;
}

.traners__inner {
    display: flex;
    gap: 40px;
}

.traners__item-title {
    font-size: 19px;
    color: #141024;
    font-weight: 700;
    padding-top: 20px;
}


.traners__item-text {
    font-size: 18px;
    color: #141024;
}

.traners__item-link {
    font-size: 18px;
    color: #D52027;
}

/* section sell */

.sell {
    margin-top: 160px;
    margin-bottom: 120px;
}

.sell__title {
    font-size: 50px;
    color: #141024;
    font-weight: 700;
    margin-bottom: 60px;
}

.sell__row {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
}

.sell__row-item {
    border: 1px solid #141024;
    border-radius: 20px;
    text-align: center;
    padding-right: 30px;
    padding-left: 40px;
    transition: 0.4s;
    cursor: pointer;
}

.sell__row-item:hover {
    background-color: #141024;
    transform: translateY(-5%);
    color: #ffffff;
}

.sell__row-title {
    padding-bottom: 80px;
    font-size: 30px;
    padding-top: 40px;
    font-weight: 700;
}


.sell__row-info {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}


.sell__row-text {
    padding-bottom: 40px;
    font-size: 18px;
    color: #141024;
    max-width: 250px;
    transition: 0.3s;
}

.sell__row-text:hover {
    color: #ffffff;
    transform: translateY(-3%);
}

.sell__row-button {
    background-color: #D52027;
    padding: 25px 70px;
    border-radius: 6px;
    margin-bottom: 40px;
}

.sell__row-link {
    color: #ffffff;
}

/* section action */

.action {
    background-color: #D52027;
    padding-bottom: 90px;
    padding-top: 90px;
}

.action__inner {
    display: flex;
    justify-content: space-around;
}

.action__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action__info-title {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    max-width: 390px;
}

.action__info-text {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}

.action__buy {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action__buy input {
    background-color: #fff;
    width: 500px;
    padding: 19px 0;
}

.action__buy input::placeholder {
    padding-left: 20px;
}

.action__button {
    background-color: #141024;
    padding: 19px 0;
    transition: 0.4s;
}

.action__button:hover {
    transform: translateY(-5%);
    opacity: 0.9;
}

.action__button-link {
    color: #fff;
}

/* footer */

.footer {
    background-color: #141024;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.logo__text {
    font-size: 16px;
    color: #fff;
    padding-left: 100px;
    padding-top: 9px;
    opacity: 0.8;
}


/* адаптив */
        
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    margin-right: 20px;
    margin-left: 20px;
}
        
.burger-line {
    width: 100%;
    height: 3px;
    background: aliceblue;
    transition: all 0.3s;
}

.header__list-tel img {
    visibility: hidden;
}

@media (max-width: 1500px) {
    .main__row {
        display: grid;
        text-align: center;
    }
}

@media (max-width: 1000px) {

.burger {
    display: flex;
}
            
.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: left 0.5s ease;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    z-index: 5;
}
            
.header__list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
            
.menu.active {
    left: 0;
    background-color: #141024;
}
            
.burger.active .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
            
.burger.active .burger-line:nth-child(2) {
    opacity: 0;
}
            
.burger.active .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
            
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 1;
}
            
.menu.active + .menu-overlay {
    opacity: 1;
    visibility: visible;
}

.header__list-tel {
    visibility: hidden;
}

.header__list-tel img {
    visibility: visible;
}

.header__list-tel {
    display: none;
}
}

@media (max-width: 800px) {
    .logo {
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }

    .header {
        padding: 0;
        margin: 0px;
    }
}

@media (max-width: 600px) {

    .main__row img {
        width: 500px;
    }

    .main__title {
        font-size: 46px;
        text-align: center;
    }

    .main__text-item {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .header__list-tel {
        display: none;
    }

    .header {
        padding-top: 30px;
    }
}